@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
.shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; }
